@import './styles/mixins'
@import './styles/utils'

$modalZIndex = 999
$albumrelease_date = #A6A6A6
$modalBackground = rgba(0,0,0,0.95)

.album_modal
    z-index: 1
    pointer-events: none
    no-text-selection()
    transition(all 0.2s)
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
.modal_wrapper
    overflow-y: scroll
    height: 100vh
.modal_animate
    z-index: 2
    background: $modalBackground
    transition(all 0.2s)
    opacity: 0
    pointer-events: none
    min-height: 100%
    min-width: 100%
    overflow-y: scroll
.actual_img
    max-width: 30vh
.modal_content
    text-align: center
    z-index: 2
    height: calc(100vh - 4.5em)
    overflow-y: scroll
    margin-top: 6em
    
.artwork_picture_tag *
    margin: 0 auto
    border-radius: 5px
.modal_close
    background: transparent
    border: none
    padding: 0.5em 0.5em 0.25em 0.5em
    border-radius: 8px
    margin: 0
    baseHoverActive()

.modal_toolbar
    width: calc(100% - 1em)
    text-align: right
    right: 0
    padding-top: 1em
    padding-right: 1em
    position: absolute
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000 114%)
    z-index: 1
    height: 6em

.album_artists
    color: #B0B0B0

.release_date
    font-family: 'Roboto'
    font-weight: 300
    font-size: 0.625em
    color: $albumrelease_date
.album_release_info
    width: 100%
    display: flex
    gap: 0.25em
    align-items: center
    justify-content: center

.platform_links
    max-width: 20em
    margin: 0 auto
    display: flex
    flex-direction: column
    gap: 0.75em

.blur_bg
    width: 80%
    height: 25em
    margin: 0 auto
    filter: blur(120px)
    translateXY(0, -2em)

.blurred_picture
    position: absolute
    width: calc(100% - 4em)
    top: 2em
    left: 2em
    opacity: 0.45
    z-index: -1
